@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DA_Framewrok.Models.Hocvienthuoclophoc

@{
    ViewData["Title"] = "SuaHocVienThuocLop";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";
}

<h1>Học viên của lớp</h1>

<h4>Chỉnh sửa học viên của lớp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SuaHocVienThuocLop">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mahocvien" class="control-label"></label>
                <select asp-for="Mahocvien" class="form-control" asp-items="ViewBag.Mahocvien"></select>
            </div>
            <div class="form-group">
                <label asp-for="Malophoc" class="control-label"></label>
                <select asp-for="Malophoc" class="form-control" asp-items="ViewBag.Malophoc"></select>
            </div>
            <div class="form-group">
                <label asp-for="Makhoahoc" class="control-label"></label>
                <select asp-for="Makhoahoc" class="form-control" asp-items="ViewBag.Makhoahoc"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

