@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DA_Framewrok.Models.Lichhoccualop

@{
    ViewData["Title"] = "ThemLichHocCuaLop";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";
}

<h1>Lịch học</h1>

<h4>Thêm lịch học</h4>
<hr />
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemLichHocCuaLop">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Makhoahoc" class="control-label"></label>
                <select asp-for="Makhoahoc" class ="form-control" asp-items="ViewBag.Makhoahoc"></select>
            </div>
            <div class="form-group">
                <label asp-for="Malophoc" class="control-label"></label>
                <select asp-for="Malophoc" class ="form-control" asp-items="ViewBag.Malophoc"></select>
            </div>
            <div class="form-group">
                <label asp-for="Thu" class="control-label"></label>
                <select asp-for="Thu" asp-items="GetThuItems()" class="form-control"></select>
                <span asp-validation-for="Thu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Giobatdau" class="control-label"></label>
                <input type="time" asp-for="Giobatdau" class="form-control" />
                <span asp-validation-for="Giobatdau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gioketthuc" class="control-label"></label>
                <input type="time" asp-for="Gioketthuc" class="form-control" />
                <span asp-validation-for="Gioketthuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@{
    List<SelectListItem> GetThuItems()
    {
        return new List<SelectListItem>
        {
            new SelectListItem { Value = "Thu hai", Text = "Thứ hai" },
            new SelectListItem { Value = "Thu ba", Text = "Thứ ba" },
            new SelectListItem { Value = "Thu tu", Text = "Thứ tư" },
            new SelectListItem { Value = "Thu nam", Text = "Thứ năm" },
            new SelectListItem { Value = "Thu sau", Text = "Thứ sáu" },
            new SelectListItem { Value = "Thu bay", Text = "Thứ bảy" },
            new SelectListItem { Value = "Chu nhat", Text = "Chủ nhật" }

        };
    }
}
